# 라이브러리를 불러옵니다

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# 핑크색 warning 안내문 방지 
import warnings
warnings.filterwarnings('ignore')

# 한글폰트 사용을 위한 세팅

In [3]:
def get_font_family():
    """
    시스템 환경에 따른 기본 폰트명을 반환하는 함수
    """
    import platform
    system_name = platform.system()

    if system_name == "Darwin" :
        font_family = "AppleGothic"
    elif system_name == "Windows":
        font_family = "Malgun Gothic"
    else:
        # Linux(Colab)
        !apt-get install fonts-nanum -qq  > /dev/null
        !fc-cache -fv

        import matplotlib as mpl
        mpl.font_manager._rebuild()
        findfont = mpl.font_manager.fontManager.findfont
        mpl.font_manager.findfont = findfont
        mpl.backends.backend_agg.findfont = findfont
        
        font_family = "NanumBarunGothic"
    return font_family

plt.rc("font", family=get_font_family())
plt.rc("axes", unicode_minus=False)

# 데이터 셋 로드

In [4]:
import glob

In [5]:
path = glob.glob('data/*.csv')
path

['data\\animal_raw.csv', 'data\\관광지.csv']

In [6]:
df = pd.read_csv(path[1], encoding = 'utf-8')
df

             업체명 업체구분   도시         위도        경도
0        미산분교캠핑장  숙박지  인제군  37.871057  128.3182
1         하얀여울캠프  숙박지  영월군  37.340286  128.2806
2          카리스펜션  숙박지  강릉시  37.857309  128.8528
3          슬로우캠프  숙박지  영월군  37.346167  128.1949
4     금방아 민박 캠핑장  숙박지  영월군  37.317860  128.2604
..           ...  ...  ...        ...       ...
257  사근진해중공원 전망대  관광지  강릉시  37.812722  128.8989
258    속초 관광수산시장  관광지  속초시  38.203989  128.5906
259        아라리공원  관광지  정선군  37.379147  128.6667
260    아름들 반려견쉼터  관광지  원주시  37.295665  127.9251
261      파로호 하트섬  관광지  화천군  38.064636  127.7952

[262 rows x 5 columns]

# 데이터 살펴보기

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업체명     262 non-null    object
 1   업체구분    262 non-null    object
 2   도시      262 non-null    object
 3   위도      262 non-null    float64
 4   경도      262 non-null    float64
dtypes: float64(2), object(3)
memory usage: 10.4+ KB

In [8]:
df.describe()

               위도          경도
count  262.000000  262.000000
mean    37.741387  128.437169
std      0.335162    0.527109
min     37.174236  127.202000
25%     37.436111  128.074875
50%     37.791281  128.578100
75%     38.004308  128.834875
max     38.576247  129.317900

In [9]:
#결측치 확인
df.isna().sum()

업체명     0
업체구분    0
도시      0
위도      0
경도      0
dtype: int64

https://wooiljeong.github.io/python/count_by_wgs84/

In [10]:
from sklearn.preprocessing import LabelEncoder